:root {
  --opa: 0%;
}



html,body{
  padding-top: 2%;
  background-color: #222222;
  color: white;
  
}
header{
  text-align: center;
}
h1 {
  font-size: 45px;
  color: whitesmoke;
  font-family: 'IBM Plex Mono', monospace;
}
h3 {
  color: orangered;
  font-size: 30px;
  font-family: 'IBM Plex Mono', monospace;
}
* { color:#fff; text-decoration: none;}
