:root {
  --opa: 0%;
}



html,body{

  background-color: #222222;
  color: white;
  
}

header{
  text-align: center;
}
#socials {
  text-align: center;
}
.socialimg {
  padding-top: 15px;
  width: 30px;
}
#sociallink {
  padding-bottom: 15px;
}
h1 {
  font-size: 38px;
  color: whitesmoke;
  font-family: 'IBM Plex Mono', monospace;
}
h3 {
  color: orangered;
  font-size: 25px;
  font-family: 'IBM Plex Mono', monospace;
}
hr {
  width: 40%;
}
* { color:#fff; text-decoration: none;}
